# コンパイルされたクラスファイル
*.class
# ログファイルとデバッグ出力
*.log
# パッケージ化されたJavaアーカイブ（依存関係など）
*.jar
*.war
*.ear
# バージョン管理されていない依存関係
dokoTsubuLogin/lib/
# 特定のIDEディレクトリ
dokoTsubuLogin/.settings/
dokoTsubuLogin/project/
dokoTsubuLogin/.classpath
dokoTsubuLogin/.idea/
*.iml
*.ipr
*.iws
# Eclipse特有のファイル
*~.nib
*.swp
*.bak
*.tmp
*.orig
*.rej
# MavenやGradleのフォルダ
dokoTsubuLogin/target/
dokoTsubuLogin/build/
# サーバーのランタイムファイル
dokoTsubuLogin/.tomcat/
# 動的Webプロジェクトに特化
dokoTsubuLogin/.apt_generated/
dokoTsubuLogin/.classpath
dokoTsubuLogin/.factorypath
dokoTsubuLogin/.project
dokoTsubuLogin/.settings/
dokoTsubuLogin/target/
dokoTsubuLogin/tmp/
.logs/
